.environment {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(40deg, #FFCFA8, #96E4E1);
    filter: blur(25px);
}

form.modalWindow {
    position: absolute;

    left: calc(50% - 190px);

    width: 380px;

    background-color: white;
    border-radius: 10px;
}

form.login {
    top: calc(50% - 250px);

    height: 500px;
}

.loginText {
    margin-top: 35px;

    height: 65px;

    text-align: center;
    font-family: system-ui;
    font-size: 40px;
    color: #20B2AD;
}

.input {
    margin-top: 20px;
    margin-left: 60px;

    width: 260px;
    height: 60px;

    background-color: white;

    border: 2px solid #96E4E1;
    border-radius: 5px;

    text-indent: 10px;
    font-family: system-ui;
    font-size: 15px;
    color: #20B2AD;
}

input :focus {
    border: 2px solid #FF8B2E;
}

.info {
    margin-top: 10px;

    height: 20px;

    text-align: center;
    font-family: system-ui;
    font-size: 15px;
    color: #FF8B2E;
}

.submit {
    margin-top: 60px;
    margin-left: 110px;

    width: 160px;
    height: 60px;

    background-color: #20B2AD;

    border: 0px;
    border-radius: 5px;

    text-align: center;
    font-family: system-ui;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.registrationLink {
    margin-top: 25px;

    height: 20px;

    text-align: center;
    font-family: system-ui;
    font-size: 15px;
    color: #20B2AD;
}

.link {
    color: #FF8B2E;
}